body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #00d8ff, rgb(247, 0, 228));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

p {
  font-family: 'Ubuntu Mono', monospace;
}
